body{
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
}

h1, h2{
    border: 2px solid black;
    /* height: 50px;
    width: 500px; */
    text-align: center;

    /* -------- we can convert block level to inline element -------- */
    display: inline;
}

h1{
    /* margin: 100px;
    padding: 100px; */
}

a{
    border: 2px solid red;
    margin: 20px;

    /* inline elements don't respect top and bottom margins. also don;t care about height and width */
    padding: 30px;
    display: block;
    margin: 40x;
    padding: 50px;
}