import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Roboto:ital@1&family=Saira+Extra+Condensed:wght@100&display=swap');

body{
    font-family: 'Hedvig Letters Serif', serif;
}

div.container{
    background-color: rgb(172, 170, 170);
}

.header{
    color: green;
}
.color-blue{
    background-color: aqua;
}